<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarkDown</title>
  <link href="https://cdn.jsdelivr.net/npm/cherry-markdown@0.9.2/dist/cherry-markdown.min.css" rel="stylesheet">
</head>
<body>
<div id="markdown-container"></div>
<script src="https://cdn.jsdelivr.net/npm/cherry-markdown@0.9.2/dist/cherry-markdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script>

    new Cherry({
        id: 'markdown-container',
        value: '# welcome to cherry editor!',
    });
</script>
</body>
</html>