<link href="https://cdn.jsdelivr.net/npm/cherry-markdown@0.9.2/dist/cherry-markdown.min.css" rel="stylesheet">


<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hint')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hint" data-rule="required" class="form-control" name="row[hint]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Keyword')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-keyword" data-rule="required" class="form-control" name="row[keyword]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content markdown-editor" class="form-control markdown-editor" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('File')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-file" class="form-control" size="50" name="row[file]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-file" class="btn btn-danger faupload" data-input-id="c-file" data-multiple="false" data-preview-id="p-file"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-file" class="btn btn-primary fachoose" data-input-id="c-file" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-file"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-file"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Display_mode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-display_mode" class="form-control" name="row[display_mode]" type="text" value="HTML">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Show_url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-show_url" class="form-control" name="row[show_url]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Button_mode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-button_mode" class="form-control" name="row[button_mode]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Button_data')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-button_data" class="form-control" rows="5" name="row[button_data]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lang')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lang" class="form-control" name="row[lang]" type="text" value="zh-cn">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
<script>
    window.onload = function() {
        /*new Cherry({
            id: 'markdown-editor',
            toolbar: true, // 显示工具栏
            preview: true, // 显示预览面板
            value: '',
            height: '100px', // 设置编辑器高度
            width: '100px',
        });*/
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/cherry-markdown@0.9.2/dist/cherry-markdown.min.js"></script>
